name: "DockerBuild DropWizard"

on: 
  workflow_run:
    workflows: ["BuildSetup"]
    types:
      - completed
  push:
    branches:
      - main
    tags:
      - 'v*'
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]

jobs:
  gradle:
    strategy:
      matrix:
        os: [ubuntu-latest]
        version : [17]   # Only Java 17 as custom JRE is created
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-java@v2
      with:
        distribution: adopt
        java-version: ${{ matrix.version }}
        cache: gradle

    - name: Setup Gradle
      uses: gradle/gradle-build-action@v2
      with:
        arguments: createAppDockerImages_dropwizard -x test