name: "chess CI/CD"
on: [push]
jobs:
  setup-build:
    name: setup-build
    strategy:
      matrix:
        #TODO -remove comment before ver2 tag
        #os: [ubuntu-latest, macos-latest, windows-latest]
        #version : [11, 17, 18]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v2
        with:
          distribution: adopt
          java-version: 17
          cache: gradle
      - name: "Build the configured project"
        uses: gradle/gradle-build-action@v2
        with:
          arguments: buildChess --scan -x test

      - name: Archive test report
        uses: actions/upload-artifact@v2
        with:
          name: Test report
          path: build/reports/tests/test
  push-deploy:
    name: push-deploy
    needs: setup-build
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@v3
      - name: deploy-container-to-registry-chess
        uses: slabstech/action-deploy-container-to-registry@v0.0.1
        with:
          docker-username: ${{ secrets.DOCKER_USERNAME }}
          docker-password: ${{ secrets.DOCKER_PASSWORD }}
          github-actor: ${{ github.actor }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          github-repository: ${{ github.repository }}
          project-name: chess
          service-name: service
          dockerfile-path: ./chess/Dockerfile
